body {
  position: relative;
}

/*--------Seccion Header----------*/
.first-section{
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-bottom: 3px solid gray;

	background: #360033;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navpart-header,
.navbar-nav {
   margin: 0 5%
}

.navbar>li.active>a:hover{
	background-color: blue !important;
	border-radius: 50px;
}

.navbar-right a{
	color: #fff !important;
}

.navbar-default {
	background-color:transparent;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
}

.navbar-color{
	background-color: #001510;
}

/*--------FIN Seccion Header----------*/
/*--------Seccion Consolas----------*/

.dos{
	height: 100vh;
}

/*Fondo Imagenes*/
.dosA{
  background-image: url(../img/play4-1.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-white {
  background-color: white;
}

<<<<<<< HEAD
.btn {
	font-size: 1.25em;
	font-weight: bold;
	padding: 10px 15px;
	border-radius: 5px;
	color: #1C6342;
	margin-top: 520px;
}

.modal .btn {
	color: #1C6342;
	font-weight: bold;
	margin-top: 520px;

}

.sectionDiseñoSec2{
=======
.dosB{
>>>>>>> 7cfa7d404db8fa993e2d86c6047bb4b332e08f9f
  background-image: url(../img/xBox1.jpg);
  height: 100vh;
  background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.dosC{
  background-image: url(../img/nintendoSwitch1.jpg);
  height: 100vh;
  background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/*Barras de %*/
.container{
  padding-top: 25%;
}

.progress:hover{
  box-shadow: 2px 2px 5px #1C6342;
}




/*--------FIN Seccion Consolas----------*/

.tres{
	height: 100vh;
	background: #555;
	overflow-y: scroll;
}
