body {
  position: relative;
}

/*--------Seccion Header----------*/
.first-section{
	background-image: url(../img/fondo.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-bottom: 3px solid gray;

}

.navpart-header,
.navbar-nav { 
   margin: 0 5%
}

.navbar>li.active>a:hover{
	background-color: blue !important;
	border-radius: 50px;
}

.navbar-right a{
	color: #fff !important;
}

.navbar-default {
	background-color:transparent;
	border-color:transparent;
	background-image:none;
	box-shadow:none;	
}

.navbar-color{
	background-color: #001510;
}

/*--------FIN Seccion Header----------*/

.dos{
	height: 100vh;
	background: #fff;
	overflow-y: scroll;
}

.tres{
	height: 100vh;
	background: #555;
	overflow-y: scroll;
}